<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='/javascripts/osmogon.js'></script>
    <script type='text/javascript' src='/javascripts/town.js'></script>
    <script type='text/javascript' src='/javascripts/d3/d3.v3.js'></script>
  </head>
  <body>
    <h1>Osmogon</h1>
    <p>In-Browser Openstreetmap Node Editor</p>
    <object id="crosshair" data="images/Crosshairs_Red.svg" type="image/svg+xml"></object>
    <div id='map' width='100%' height='100%'></div>
    <script type='text/javascript'>
      window.onload = function() {
        render();
      };
    </script>
  </body>
</html>
